body {
    font-family: Arial, Helvetica, sans-serif;
    padding: var(--scale16) 0px;
    display: flex;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Balsamiq Sans', sans-serif;
}

img {
    display: inline-block;
    margin-right: 90%;
    margin-bottom: 30px;
    block-size: 200px;

}

.subtitle {
    margin-left: 56%;
    margin-bottom: 80px;
    font-size: 25px;
}

.search {
    position: relative;
    text-align: center;
    display: block;
    margin-left: 25%;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: rgb(250, 208, 236);
    padding: 10px;
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(0, 58, 85);
    font-size: 20px;
    border-style: none;
}

.movies {
    display: inline-block;
    margin: 10px 50px;
    padding: 25px;
    background-color: rgb(183, 232, 255);
    color: rgb(117, 0, 78);
    border-radius: 15px;
    list-style: none;
}

.movies h1 {
    margin-bottom: 5px;
}

.movies p {
    margin: 5px 70px;
    padding-bottom: 20px;
}

.movies li {
    font-style: oblique;
    margin: 1px 70px;
    padding-bottom: 10px;
}

form button {
    background-color: rgb(250, 208, 236);
    color: rgb(0, 58, 85);
    position: relative;
    border-radius: 15px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    border-style: none;
}

form input {
    background-color: rgb(250, 208, 236);
    color: rgb(0, 58, 85);
    border-radius: 15px;
    position: relative;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 15px;
    padding: 20px 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
}

.comments {
    background-color: rgb(250, 208, 236);
    color: rgb(0, 58, 85);
    border-radius: 15px;
    padding: 10px 50px;
}